[Desktop Entry]
Name=Custos
Exec=/usr/lib/Custos/Custos %U
Icon=/usr/share/pixmaps/Custos.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/custos;x-scheme-handler/goose;
